
OSDU_BASE_URL = "https://eu6.api.enterprisedata.slb.com"
DATA_PARTITION_ID = "mlc-training"
APPKEY = "YOUR_APPKEY"

TOKEN_URL = "https://csi.slb.com/v2/token"
CLIENT_ID = "YOUR_CLIENT_ID"
CLIENT_SECRET = "YOUR_CLIENT_SECRET"
SCOPE = "963f2cc6915e479fa0fcb73ec2ec90e7"

WORKFLOW_NAME = "csv_parser_wf"

TOKEN_REFRESH_MINUTES = 55
TOKEN_REFRESH_EARLY_SECONDS = 120
TOKEN_TIMER_TICK_MS = 1000

ACL_OWNER = "your-owner-group"
ACL_VIEWER = "your-viewer-group"
LEGAL_TAG = "your-legal-tag"
